<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('../../partials/head'); %>
    <title>Portfólio: Certificados</title>
    <link rel="stylesheet" href="/style/certificates.css" type="text/css" />
  </head>

  <body>
    <%- include('../../partials/loading'); %> <%- include('../../partials/back_button'); %> <%-
    include('../../partials/header'); %>
    <main>
      <section id="rocketseat-section" class="certificate-section">
        <svg id="rocketseat-section-logo" class="section-logo" width="192" height="37" viewBox="0 0 192 37" fill="none">
          <g>
            <path
              d="M40.0042 10.8054C38.3888 10.8054 37.0568 12.1091 37.0568 13.7528V19.9879V26.2228H40.0042V19.9879V13.7528H43.5185H47.0328V10.8054H43.5185H40.0042Z"
              fill="var(--letters)"
            ></path>
            <path
              d="M64.604 18.4859V13.7246C64.604 12.1092 63.3003 10.7771 61.6565 10.7771H56.8953H52.134C50.5185 10.7771 49.1865 12.0808 49.1865 13.7246V18.4859V23.2471C49.1865 24.8626 50.4902 26.1946 52.134 26.1946H56.8953H61.6565C63.272 26.1946 64.604 24.8909 64.604 23.2471V18.4859ZM61.6565 18.4859V23.2471H56.8953H52.134V18.4859V13.7246H56.8953H61.6565V18.4859Z"
              fill="var(--letters)"
            ></path>
            <path
              d="M70.4993 10.8054C68.8839 10.8054 67.5519 12.1091 67.5519 13.7528V18.5141V23.2754C67.5519 24.8908 68.8556 26.2228 70.4993 26.2228L80.8721 26.0811V23.2754H70.4993V18.5141V13.7528H80.8721V10.9471L70.4993 10.8054Z"
              fill="var(--letters)"
            ></path>
            <path
              d="M97.7655 10.8054H93.7695L87.9312 17.0121H86.7692V10.8054H83.8218V18.4858V26.1945H86.7692V19.9595H88.243H88.4697L94.5347 26.1945H98.5874L90.7937 18.1457L97.7655 10.8054Z"
              fill="var(--letters)"
            ></path>
            <path
              d="M102.156 23.2471V19.9596L114.626 19.8179V17.0121V13.7246C114.626 12.1092 113.322 10.7771 111.679 10.7771H106.917H102.156C100.541 10.7771 99.2085 12.0808 99.2085 13.7246V18.4859V23.2471C99.2085 24.8626 100.512 26.1946 102.156 26.1946L114.626 26.0529V23.2471H102.156ZM102.156 13.7246H106.917H111.679V17.0121H108.391H102.156V13.7246Z"
              fill="var(--letters)"
            ></path>
            <path
              d="M122.023 6.29926H120.889L119.075 8.5382V10.7771H116.836V13.7246L119.075 13.6962V23.2471C119.075 24.8626 120.379 26.1946 122.023 26.1946L126.784 26.0529V23.2471H122.023V13.6679L127.209 13.5829V10.7771H122.023V6.29926Z"
              fill="var(--letters)"
            ></path>
            <path
              d="M142.74 19.9596C142.74 18.3442 141.436 17.0121 139.793 17.0121H136.08H132.367V13.7246H142.74V10.9188L132.367 10.7771C130.752 10.7771 129.42 12.0808 129.42 13.7246V17.0121C129.42 18.6276 130.723 19.9596 132.367 19.9596H136.08H139.793V23.2471H129.42V26.0529L139.793 26.1946C141.408 26.1946 142.74 24.8909 142.74 23.2471V19.9596Z"
              fill="var(--letters)"
            ></path>
            <path
              d="M158.129 10.8054H153.368H148.606C146.991 10.8054 145.659 12.1091 145.659 13.7528V18.5141V23.2754C145.659 24.8908 146.963 26.2228 148.606 26.2228L161.076 26.0811V23.2754H148.606V19.9879L161.076 19.8461V17.0404V13.7528C161.076 12.1091 159.773 10.8054 158.129 10.8054ZM158.129 17.0121H148.606V13.7245H153.368H158.129V17.0121Z"
              fill="var(--letters)"
            ></path>
            <path
              d="M176.493 10.8054L164.023 10.9471V13.7528H176.493V17.0404L164.023 17.1821V19.9879V23.2754C164.023 24.8908 165.327 26.2228 166.971 26.2228H171.732H176.493C178.109 26.2228 179.441 24.9192 179.441 23.2754V18.5141V13.7528C179.413 12.1091 178.109 10.8054 176.493 10.8054ZM176.493 23.2471H171.732H166.971V19.9595H176.493V23.2471Z"
              fill="var(--letters)"
            ></path>
            <path
              d="M186.814 13.6679L192 13.5829V10.7772H186.814V6.27097H185.68L183.866 8.5099V10.7488H181.627V13.6963L183.866 13.6679V23.2188C183.866 24.8343 185.17 26.1663 186.814 26.1663L191.575 26.0246V23.2188H186.814V13.6679Z"
              fill="var(--letters)"
            ></path>
          </g>
          <g>
            <path
              d="M29.2636 0.716062L24.4739 0.00753861C24.3322 -0.0208023 24.1905 0.0358761 24.1339 0.092558L22.0933 2.7566C21.9516 2.92665 21.9233 3.15338 21.9799 3.35177C22.0366 3.55015 21.8666 3.7202 21.6682 3.69186L19.9961 3.32342C19.741 3.26674 19.4576 3.35177 19.2876 3.5785L12.6558 12.0808C12.5424 12.2508 12.3157 12.3075 12.1173 12.2225L9.59495 11.0888C9.36822 10.9755 9.11316 11.0038 8.91477 11.1455L7.63943 12.0241C7.44104 12.1658 7.15763 12.1941 6.9309 12.0808L6.3074 11.769C5.91063 11.5706 5.42884 11.7974 5.31547 12.2225L4.86201 14.2347C4.74865 14.7165 4.94704 15.1983 5.37215 15.4534L6.33574 16.0485L9.42491 17.9474L10.927 18.8826C11.3521 19.1377 11.8906 19.081 12.259 18.7692L14.7813 16.5586C14.9797 16.3886 15.2915 16.3319 15.5182 16.4736L16.2834 16.8704C16.5385 17.0121 16.8502 16.9554 17.0486 16.757L18.324 15.5667C18.5224 15.3683 18.8341 15.34 19.0608 15.4534L20.9597 16.3319C21.2431 16.4736 21.5832 16.3886 21.7816 16.1335L22.6601 14.9999L29.3202 6.46927C29.632 6.0725 29.4336 5.47734 28.9235 5.36398L27.4498 5.02388C27.138 4.9672 26.9963 4.57043 27.223 4.3437L29.5186 1.48126C29.7454 1.14117 29.6037 0.772744 29.2636 0.716062Z"
              fill="#8257E6"
            ></path>
            <path
              d="M7.29885 17.8907C7.15715 17.8056 7.01544 17.9473 7.07212 18.089L7.78065 19.9595C7.83733 20.1012 7.83733 20.243 7.80899 20.3847L7.18549 22.822C7.15714 22.992 7.21383 23.1621 7.32719 23.2471L9.11267 24.6358C9.28272 24.7492 9.50944 24.7492 9.65115 24.6075L11.5216 22.9637C11.635 22.8787 11.7767 22.822 11.8901 22.7936L14.0157 22.5669C14.1574 22.5386 14.214 22.3402 14.0723 22.2552L7.29885 17.8907Z"
              fill="#8257E6"
            ></path>
            <path
              d="M6.67557 24.1824C6.56221 24.0974 6.39216 24.0691 6.25046 24.1257L4.74839 24.8626C4.66337 24.8909 4.60668 24.976 4.55 25.061L1.34748 32.9681C1.34748 32.9965 1.34748 32.9964 1.34748 33.0248C1.37582 33.0531 1.40416 33.0815 1.46084 33.0815L2.1977 32.7981C2.22605 32.7981 2.25438 32.7981 2.28272 32.7981C2.31106 32.8264 2.33941 32.8831 2.31107 32.9114L0.015448 36.6808C-0.0412339 36.7658 0.0721325 36.8508 0.128814 36.7658L8.43271 28.4336C8.51773 28.3485 8.54608 28.2635 8.57442 28.1502L8.74446 25.9962C8.74446 25.8545 8.68778 25.7412 8.60276 25.6561L6.67557 24.1824Z"
              fill="#8257E6"
            ></path>
          </g>
        </svg>
        <div id="rocketseat-certificates" class="certificate-div">
          <% certificates.forEach(function(certificate) {%>
          <div class="certificates" title="Abrir certificado">
            <div onclick="enlargeImage(this)">
              <img
                src="<%=certificate.imageUrl%>"
                alt="<%=certificate.description%>"
                id="<%=certificate.fileName%>"
                class="certificate img"
              />
            </div>
          </div>
          <%}) %>
        </div>
      </section>
      <section id="dio-section" class="certificate-section">
        <svg
          id="dio-section-logo"
          class="section-logo"
          xmlns="http://www.w3.org/2000/svg"
          width="84"
          height=""
          viewBox="0 0 261 106"
          fill="none"
        >
          <path
            d="M260.1 88.3C260.1 97.9 252.3 105.6 242.8 105.6C233.3 105.6 225.5 97.8 225.5 88.3C225.5 78.8 233.3 71 242.8 71C252.3 71 260.1 78.7 260.1 88.3Z"
            fill="#E94D5F"
          />
          <path
            d="M208.1 94.9001C218.7 86.6001 225.5 73.8001 225.5 59.3001C225.5 44.8001 218.7 32.0001 208.1 23.7001C200.4 17.7001 190.8 14.1001 180.3 14.1001C155.3 14.1001 135.1 34.3001 135.1 59.3001C135.1 84.3001 155.3 104.5 180.3 104.5C190.8 104.5 200.4 100.9 208.1 94.9001Z"
            fill="url(#paint0_linear_255_2497)"
          />
          <path
            d="M90.2 56.1998V0.299805C77.7 0.299805 66.8 6.89981 60.7 16.7998C55.9 14.9998 50.6 13.9998 45.2 13.9998C20.2 13.9998 0 34.1998 0 59.1998C0 84.1998 20.2 104.4 45.2 104.4C55.7 104.4 65.3 100.8 73 94.7998C83.6 86.4998 90.4 73.6998 90.4 59.1998C90.3 58.1998 90.3 57.1998 90.2 56.1998Z"
            fill="url(#paint1_linear_255_2497)"
          />
          <path
            d="M112.4 35.1001C102.9 35.1001 95.2002 42.8001 95.2002 52.3001V104.4C114.3 104.4 129.9 88.9001 129.9 69.7001V52.6001C129.8 43.0001 122 35.1001 112.4 35.1001Z"
            fill="url(#paint2_linear_255_2497)"
          />
          <path
            d="M112.5 34.9999C122.055 34.9999 129.8 27.2544 129.8 17.6999C129.8 8.14538 122.055 0.399902 112.5 0.399902C102.946 0.399902 95.2002 8.14538 95.2002 17.6999C95.2002 27.2544 102.946 34.9999 112.5 34.9999Z"
            fill="url(#paint3_linear_255_2497)"
          />
          <path
            d="M112.5 35.3C102.8 35.3 94.7998 27.4 94.7998 17.6C94.7998 7.8 102.8 0 112.5 0C122.2 0 130.2 7.9 130.2 17.7C130.2 27.5 122.3 35.3 112.5 35.3ZM112.5 0.7C103.1 0.7 95.4998 8.3 95.4998 17.7C95.4998 27.1 103.1 34.7 112.5 34.7C121.9 34.7 129.5 27.1 129.5 17.7C129.5 8.3 121.9 0.7 112.5 0.7Z"
            fill="url(#paint4_linear_255_2497)"
          />
          <defs>
            <linearGradient
              id="paint0_linear_255_2497"
              x1="135.101"
              y1="59.2723"
              x2="225.458"
              y2="59.2723"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#56509A" />
              <stop offset="1" stop-color="#E94D5F" />
            </linearGradient>
            <linearGradient
              id="paint1_linear_255_2497"
              x1="-0.0664"
              y1="52.3974"
              x2="90.2907"
              y2="52.3974"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#2EAAE1" />
              <stop offset="1" stop-color="#4A63A9" />
            </linearGradient>
            <linearGradient
              id="paint2_linear_255_2497"
              x1="95.1872"
              y1="69.7964"
              x2="129.842"
              y2="69.7964"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#4A63A9" />
              <stop offset="1" stop-color="#56509A" />
            </linearGradient>
            <linearGradient
              id="paint3_linear_255_2497"
              x1="95.1872"
              y1="17.6718"
              x2="129.842"
              y2="17.6718"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#4A63A9" />
              <stop offset="1" stop-color="#56509A" />
            </linearGradient>
            <linearGradient
              id="paint4_linear_255_2497"
              x1="94.8471"
              y1="17.6719"
              x2="130.181"
              y2="17.6719"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#4A63A9" />
              <stop offset="1" stop-color="#56509A" />
            </linearGradient>
          </defs>
        </svg>
        <div id="dio-certificates" class="certificate-div">
          <div class="certificates" title="Abrir certificado">
            <div onclick="enlargeImage(this)">
              <img
                class="certificate img"
                src="/certificates/dio/LKUQGVMH.jpg"
                alt="Bootcamp DIO: Educação Gratuita e Empregabilidade Juntas"
              />
            </div>
          </div>
          <div class="certificates" title="Abrir certificado">
            <div onclick="enlargeImage(this)">
              <img
                class="certificate img"
                src="/certificates/dio/VG54ICVI.jpg"
                alt="Versionamento de Código com Git e GitHub"
              />
            </div>
          </div>
          <div class="certificates" title="Abrir certificado">
            <div onclick="enlargeImage(this)">
              <img
                class="certificate img"
                src="/certificates/dio/LPDVTOXY.jpg"
                alt="Desafios de Projeto: Crie um Portfólio Vencedor"
              />
            </div>
          </div>
          <div class="certificates" title="Abrir certificado">
            <div onclick="enlargeImage(this)">
              <img
                class="certificate img"
                src="/certificates/dio/KORFS4DK.jpg"
                alt="Contribuindo em um Projeto Open Source no GitHub"
              />
            </div>
          </div>
          <div class="certificates" title="Abrir certificado">
            <div onclick="enlargeImage(this)">
              <img
                class="certificate img"
                src="/certificates/dio/DJQFVWKG.jpg"
                alt="Certificado de participação Aula Inaugural - Santander Bootcamp 2024"
              />
            </div>
          </div>
          <div class="certificates" title="Abrir certificado">
            <div onclick="enlargeImage(this)">
              <img
                class="certificate img"
                src="/certificates/dio/YZGBOQUA.jpg"
                alt="Princípios de Desenvolvimento de Software Colaborativo"
              />
            </div>
          </div>
          <div class="certificates" title="Abrir certificado">
            <div onclick="enlargeImage(this)">
              <img
                class="certificate img"
                src="/certificates/dio/FCCMMECF.jpg"
                alt="Como Ingressar no Futuro Agora Mesmo com ChatGPT"
              />
            </div>
          </div>
        </div>
      </section>
      <hr />
    </main>
    <%- include('../../partials/aside'); %> <%- include('../../partials/footer'); %> <%-
    include('../../partials/script'); %> <%- include('../../partials/certificatesScript.ejs'); %>
  </body>
</html>
