<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('../../partials/head'); %>
    <title>Portfólio: Sobre mim</title>
    <link rel="stylesheet" href="/style/about.css" type="text/css" />
  </head>

  <body>
    <%- include('../../partials/loading'); %> <%- include('../../partials/back_button'); %> <%-
    include('../../partials/header'); %>
    <main>
      <h2>Olá,</h2>
      <p>
        sou Héber Stavrakas Gaipo, estudante de Engenharia da Computação pela Universidade do Estado de Minas Gerais.
      </p>
      <p>
        Desde a minha adolescência eu intencionava cursar engenharia e quando estava no ensino médio, ainda que eu já
        tivesse interesse pela área de desenvolvimento de software e sistemas, acreditava que era mais um hobby do que
        uma profissão a ser seguida, por isso prestei o ENEM e fui aprovado em Engenharia Mecânica na Universidade
        Federal de Minas Gerais.
      </p>

      <p>
        A Engenharia Mecânica me interessava pelo fato de eu gostar de esportes automobilísticos e área de aviação, mas
        durante o curso percebi que a engenharia era para mim, mas a mecânica não, mantinha o meu plano de garoto, mas
        percebi um certo erro no percurso.
      </p>

      <p>
        Em virtude disso, decidi interromper minha formação na UFMG e dar ouvido ao meu apreço pela área de programação,
        sistemas e softwares. No ano de 2023 iniciei estudos independentes na plataforma Rocketseat para assegurar que
        essa área era de fato para mim e durante toda a minha intensa jornada de aprendizado isso foi se tornando cada
        vez mais uma certeza.
      </p>

      <p>
        Inicialmente aprendi sobre a linguagem de marcação HTML, estilos com CSS e quando chegou a linguagem de
        programação JavaScript realmente me encontrei e me senti em casa. Concluí o ciclo básico da Rocketseat e decidi
        continuar aprendendo mais sobre JavaScript e seus frameworks e as portas que estariam abertas através dessa
        linguagem.
      </p>

      <p>
        Desenvolvi essa página web utilizando meus conhecimentos em NodeJS e, já na segunda metade do ano de 2023,
        resolvi iniciar estudos sobre React, React Native, NextJS e aprofundar meus conhecimentos em banco de dados,
        visando me preparar para as demandas do mercado de trabalho e adquirir os conhecimentos necessários.
      </p>

      <p>
        Quando chegou o fim do ano de 2023, que já era certa a minha escolha, decidi prestar vestibular para a UEMG no
        qual fui aprovado e por esse motivo precisei dar uma pausa na minha formação complementar com os frameworks,
        afim de focar nessa nova formação que muito tem agregado em linguagens de base como C e também linguagens como
        Java e C++.
      </p>

      <p>
        Meu foco com a Engenharia da Computação é adquirir os conhecimentos base para a construção de sistemas físicos,
        mas principalmente virtuais e me tornar o desenvolvedor ideal para as demandas do mundo moderno, complementando
        essas bases com formações extras e especializações. Um curso como esse agrega sobre vários assuntos, servindo
        também para me mostrar diversos horizontes possíveis para seguir.
      </p>

      <p>
        O desenvolvimento web ainda é uma área que eu tenho carinho e sigo em busca de uma oportunidade de experimentar
        esse mercado profissionalmente para aplicar na prática tudo que eu aprendi até aqui e, no futuro, seguindo a
        minha jornada de aprendizado, poder acrescentar cada vez mais meus novos conhecimentos para aprimorar esse meio.
      </p>

      <p>
        Na área acadêmica eu pretendo seguir com pesquisas, me tornar mestre e doutor, para retornar tanto conhecimento
        para a sociedade e as demandas que dela surgir.
      </p>

      <h2 class="subtitle">Minhas soft skills: comunicação, organização e resiliência</h2>
      <p>
        Sou bastante comunicativo, o que me proporciona bons momentos em grupo e colaboração em diversos
        projetos. Qualquer ambiente que eu estiver inserido faço questão de torná-lo um lugar acolhedor, onde todos
        possam compartilhar suas questões e juntos encontrarmos uma solução e nos conectarmos cada vez mais.
      </p>

      <p>
        Minha organização é uma aliada importante em meu trabalho. Consigo me planejar adequadamente, cumprindo etapas e
        prazos exigidos, o que contribui para minha tranquilidade emocional em momentos de pressão.
      </p>

      <p>
        Ao enfrentar novos desafios que demandam conhecimentos em sistemas desconhecidos, busco de forma independente
        objetos de estudo, aulas e artigos que me permitam aprender as ferramentas necessárias para iniciar e
        desenvolver projetos com excelência.
      </p>

      <p>
        Minha capacidade autodidata e facilidade em absorver conteúdos são fundamentais para buscar informações diversas
        sobre temas específicos. Isso me permite aprender rapidamente novas habilidades e tecnologias, atendendo às
        exigências de cada projeto.
      </p>

      <p>
        Sou resiliente e encaro cada desafio como uma oportunidade de aprendizado. Acredito que todas as
        situações nos ensinam de alguma forma, o que me traz confiança para enfrentar e superar obstáculos.
      </p>

      <p>
        Em resumo, sou um desenvolvedor em formação, interessado em estudar diversas áreas, desde desenvolvimento
        front-end até cibersegurança, passando por dados e aprendizado de máquina e inteligência artificial. Sou
        comprometido em entregar resultados de excelência, com habilidades de comunicação, organização e resiliência que
        enriquecem meu trabalho e minha interação com a equipe. Estou sempre disposto a aprender, crescer e contribuir
        para projetos de sucesso. Espero poder colaborar com seu projeto em breve!
      </p>
    </main>
    <%- include('../../partials/aside'); %> <%- include('../../partials/footer'); %> <%-
    include('../../partials/script'); %>
  </body>
</html>
