<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../../partials/head'); %>
        <title>Portfólio: Sobre mim</title>
        <link rel="stylesheet" href="/style/about.css" type="text/css">
</head>

<body>
    <%- include('../../partials/loading'); %>
    <%- include('../../partials/header'); %>
        <main>
            <h2>Sobre mim: focado, determinado e apaixonado pelo Desenvolvimento Web</h2>
            <p>Olá, sou Héber Stavrakas Gaipo, um desenvolvedor web em formação, e é com imenso prazer que
                apresento um
                pouco mais sobre mim e meu trabalho nesta seção. Em poucas palavras, posso me descrever como alguém
                focado e determinado a executar com sucesso tudo aquilo que me proponho.</p>

            <p>Minha paixão pela área de desenvolvimento web vai além do código em si. Acredito que essa é a espinha
                dorsal do futuro, onde ciências humanas e exatas se encontram para gerar resultados incríveis. Desde
                jovem, senti um fascínio especial por programação, sistemas e computação. Brincava de dar comandos ao
                computador pelo prompt e explorava sites através do DevTools. Esse interesse precoce me impulsionou a
                desenvolver meus conhecimentos e entendimentos na área de forma independente.</p>

            <p>Atualmente, possuo domínio pleno das bases fundamentais, e no momento, meu coração bate mais forte por
                duas linguagens em especial: JavaScript e CSS. Embora esteja em constante formação, essas são as
                linguagens que mais me encantam e com as quais gosto de trabalhar.</p>

            <p>Para me manter atualizado e sempre à frente das novidades, sigo perfis online que falam sobre
                ferramentas, frameworks e inteligência artificial, além de contar com um network próximo, o que
                enriquece minha jornada no mundo do desenvolvimento web.</p>

            <p>Fora do universo digital, tenho grande interesse por esportes. O atletismo, futebol, corrida e musculação
                são alguns dos meus hobbies que me ajudam a manter o equilíbrio e a energia necessária para encarar os
                desafios da programação.</p>

            <p>Quanto aos projetos em que gosto de trabalhar, minha abordagem é diversificada, uma vez que ainda estou
                em formação e desejo explorar diferentes áreas. Minha flexibilidade e vontade de aprender são fatores
                que me impulsionam a me desenvolver ao máximo.</p>

            <p>A cada novo desafio que surge, encontro tranquilidade e uma dose extra de motivação para aprender e
                superar obstáculos. Não desisto facilmente, pois acredito que sempre há novas possibilidades a serem
                exploradas e soluções a serem encontradas.</p>

            <p>Em relação ao trabalho em equipe, embora não tenha tido essa experiência até o momento, estou ansioso
                para participar de projetos colaborativos. Minha capacidade de entender os processos e sistemas
                rapidamente me permite contribuir com ótimas ideias para serem desenvolvidas.</p>

            <h2>Minhas soft skills: comunicação, organização e resiliência</h2>
            <p>Além das habilidades técnicas, minhas soft skills são aspectos essenciais que impulsionam minha jornada
                como desenvolvedor web. Possuo uma capacidade notável de escuta, o que me ajuda a entender a melhor
                forma de me comunicar com aqueles que interagem comigo. Essa habilidade é especialmente aplicada quando
                há demandas a serem solucionadas, assumindo, às vezes, a posição de mediador, garantindo que todos
                tenham seus pontos de vista validados e considerados.</p>

            <p>Minha organização é uma aliada importante em meu trabalho. Consigo me planejar adequadamente, cumprindo
                etapas e prazos exigidos, o que contribui para minha tranquilidade emocional em momentos de pressão.</p>

            <p>Ao enfrentar novos desafios que demandam conhecimentos em sistemas desconhecidos, busco de forma
                independente objetos de estudo, aulas e artigos que me permitam aprender as ferramentas necessárias para
                iniciar e desenvolver projetos com excelência.</p>

            <p>Valorizo muito o feedback que recebo, pois entendo que é uma oportunidade de aprimorar meu trabalho.
                Utilizo as críticas construtivas para me tornar uma pessoa melhor e alcançar resultados ainda mais
                alinhados com os objetivos da equipe.</p>

            <p>Minha capacidade autodidata e facilidade em absorver conteúdos são fundamentais para buscar informações
                diversas sobre temas específicos. Isso me permite aprender rapidamente novas habilidades e tecnologias,
                atendendo às exigências de cada projeto.</p>

            <p>Sou uma pessoa resiliente e encaro cada desafio como uma oportunidade de aprendizado. Acredito que todas
                as situações nos ensinam de alguma forma, o que me traz confiança para enfrentar e superar obstáculos.
            </p>

            <p>Uma experiência que reflete minha habilidade em resolver problemas ocorreu em um projeto anterior, onde
                precisei desenvolver uma página que apresentava diversos certificados. Com criatividade e pesquisa
                online, encontrei uma solução utilizando o paradigma funcional, otimizando o processo e alcançando o
                resultado desejado.</p>

            <p>Em resumo, sou um desenvolvedor web júnior apaixonado pelo que faço, comprometido em entregar resultados
                de excelência, com habilidades de comunicação, organização e resiliência que enriquecem meu trabalho e
                minha interação com a equipe. Estou sempre disposto a aprender, crescer e contribuir para projetos de
                sucesso. Espero poder colaborar com seu projeto em breve!</p>
        </main>
        <%- include('../../partials/aside'); %>
            <%- include('../../partials/footer'); %>
</body>

</html>